
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Toronto Raptors</title>
</head>
<body>
    <nav>
        <a href="#">Home</a> | <a href="#">About</a> | <a href="#">Products</a>
    </nav>
    <h2>Hello Basketball fans!!!</h2>
    <br />
    @RenderBody()
    <footer style="background-color: black; color: white;">
        Footer goes here!
    </footer>
</body>
</html>
