@model HelloRaptors.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>@Model.Title</h1>
    <p>Price: $@Model.Price</p>
</body>
</html>
