@model HelloRaptors.Models.Raptors;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Raptors</title>
</head>
<body>
    <h1><b>@Model.PlayerName</b></h1>
    <br />
    <p>was signed by the Toronto Raptors on @Model.ArrivalDate.ToLongDateString()</p>
</body>
</html>
